.account-setting-cls{
  @include background-allin("../images/account_settings.jpg");
  // background-color: transparent;
  // background-image: url('resources/images/mainmenu_background.jpg');
  // background-size: 100% 100%;
  // background-position: center;
  .profile-photobtn-cls.x-button{
    width: 4.5em;
    padding: 0;
    height: auto;
    .x-button-icon {
      width: 4em;
      height: 4em;
      background-size: cover;
	  background-image: url("../images/person.png");
    }
    .x-button-label{
      padding-top: 0.75em;
      line-height: 1;
      white-space: normal;
      font-size: 0.65em;
      color: white;
    }
  }
  .sound-toggle-cls{
    background-color: transparent;
    background-image: none;
    width: 4em;
    margin: 0 0.5em;
    .x-form-label{
      background-color: transparent;
      background-image: none;
      padding: 0;
      line-height: 1.5;
      color: white;
    }
    .x-toggle{
      @include border-radius(0);
      border: 0;
      height: 1.25em;
      &.x-toggle-off{
        @include background-allin("../images/switch-disable.png");
      }
      &.x-toggle-on{
        @include background-allin("../images/switch-enable.png");
      }
      .x-thumb{
        height: 1.25em;
        &:after {
          @include background-gradient(transparent);
          border: 0;
          height: 1em;
        }
      }
    }
  }
  .volume-slider-cls{
    background-color: transparent;
    background-image: none;
    .x-form-label{
      background-color: transparent;
      background-image: none;
      padding: 0;
      line-height: 1.5;
      color: white;
    }
    .x-slider{
      height: 1.25em;
      &:before{
        margin: 0;
        border: 0;
        top: (1.25em - $form-slider-size) / 2;
        background-color: rgba(white, 0.8);
        background-image: none;
        @include box-shadow(none);
      }
    }
    .x-thumb{
      width: 0.75em;
      height: 1.35em;
      margin-left: -0.0625em;
      &:after {
        width: 0.75em;
        height: 1.35em;
        border: 0;
        top: 0;
        left: 0;
        @include background-gradient(transparent);
        @include box-shadow(none);
      }
    }
  }
  .action-btn-cls.x-button {
    background-color: rgba(211, 37, 46, 0.65);
    background-image: none;
    border: 0;
    @include border-radius(0);
    margin: 0.75em 0 0.75em 0.75em;
    padding: 0.5em 0.25em;
    .x-button-label{
      font-family: "OpenSansBold";
      color: white;
      font-size: 0.65em;
    }
    &:last-child {
      margin-right: 0.75em;
    }
    &.x-button-pressing {
      @include background-gradient(rgba(211, 37, 46, 0.65), "recessed");
    }
  }
  .field-label-cls{
    font-family: "OpenSansBold";
    color: white;
    font-size: 0.60em;
    text-align: -webkit-auto;
  }
  .balance-btn-cls{
    max-width: 4em;
    background-color: rgba(245,253,9,1);
    background-image: none;
    border: 0;
    font-size: 1em;
    padding: 0.5em 0.25em;
  }
  .accountsetting-save-btn{
    background-color: rgba(245,253,9,1);
    background-image: none;
    margin: 0.75em auto;
    max-width: 8em;
    border: 0;
    font-size: 1em;
    padding: 0.5em;
    @include border-radius(1em);
    .x-button-label{
      font-family: "OpenSansBold";
    }
    &.x-button-pressing{
      @include background-gradient(rgba(245,253,9,1), "recessed");
    }
  }
}
