.bet-page-cls{
  @include background-allin("../images/betpage_background.jpg");
  .bet-container-cls{
    .x-form-fieldset-title {
        font-size: 1.5em;
        margin: 0.5em 0;
        text-align: center;
        color: white;
    }
    .x-form-fieldset-inner{
      border: 0;
      background-color: transparent;
      background-image: none;
      @include border-radius(0);
    }
    .team-detail-cls{
        padding: 0.5em 0.75em;
        background: rgba(white, 0.2);
        margin-bottom: 0.75em;
        .x-label {  
          // line-height: 2;
          padding-right: 0.75em;
          font-size: 1.125em;
          font-weight: bold; 
          // @include ellipsis();
          color: white;
          text-transform: uppercase;
        }
        .x-button{
            padding: 0 1.5em;
            @include border-radius(1em);
            @include background-gradient(rgba(211,37,46,1), plain);
            border: 0;
            font-size: 0.9em;
            .x-button-label{
              color: white;
              line-height: 1.5;
            }
            &.x-button-pressing{
              @include background-gradient(rgba(211,37,46,1), recessed);
            }
        }
    }
  }
  .about-btn-cls.x-button{
    background-color: rgba(245,253,9,1);
    background-image: none;
    margin: 0.25em auto;
    max-width: 12em;
    border: 0;
    font-size: 1.125em;
    padding: 0.5em;
    @include border-radius(1em);
    .x-button-label{
      font-family: "OpenSansBold";
    }
    &.x-button-pressing{
      @include background-gradient(rgba(245,253,9,1), "recessed");
    }
  }
}
