.friends-list-cls{
    background: rgba(255, 255, 255, 0.9);
    .x-scroll-scroller{
      padding: 0 0.75em;
    }
    .overlay-title-cls {
        padding: 0em 1em;
        background: rgba(211, 211, 211, 0.9);
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.8em;
        line-height: 2.5;
        position: relative;
        .closeList{
            position: absolute;
            right: 0;
            top: 0;
            width: 2.25em;
            bottom: 0;
            display: block;
            background-image: url("../images/cancel-bet.png");
            background-repeat: no-repeat;
            background-position: center;
            background-color: black;
        }
    }
    .friend-cls{
        @include st-box();
        @include st-box-orient(horizontal);
        @include st-box-align(center);
        margin-top: 0.5em;
        padding: 0.25em 1.5em 0.25em 0.25em;
        background: rgba(255, 255, 255, 0.7);
        border: 1px solid white;
        position: relative;
        &:last-child{
          margin-bottom: 0.5em;
        }
        &:after{
          width: 1.5em;
          right: 0;
          top: 0;
          bottom: 0;
          content: " ";
          position: absolute;
          z-index: 1;
          background-color: #f4f4f4;
          background-size: auto 0.75em;
          background-position: center;
          background-repeat: no-repeat;
          background-image: url("../images/select-disable.png");
        }
        &.x-item-selected{
          background: rgba(227, 227, 227, 0.69);
          &:after{
            background-image: url("../images/select-enable.png");
          }          
        }
        .thumb{
          width: 2.5em;
          height: 2.5em;
          background-size: 2.5em 2.5em;
          background-repeat: no-repeat;
          background-position: center;          
        }
        .status{
          width: 1.5em;
          height: 1.5em;
          background-size: contain;
          background-color: transparent;
          background-repeat: no-repeat;
          margin-right: 0.5em;
          margin-left: 0.5em;          
        }
        .title{
          font-size: 0.75em;
          @include st-box-flex(1);
          font-family: "opensansbold";
        }
    }
    .status.inactive{
      background-image: url("../images/status-disable.png");
    }
    &.enemy-cls{
      .status.active{
        background-image: url("../images/status-enemy.png");
      }
    }
    &.celeberity-cls{
      .status.active{
        background-image: url("../images/status-celebrity.png");
      }
    }
    &.friend-cls{
      .status.active{
        background-image: url("../images/status-friend.png");
      }
    }
}
