// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
$base-color: #333;

@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

// @include icon('user');
// @include font-face("OpenSansBold", "../fonts/OpenSans-ExtraBold.ttf");
@include font-face("OpenSansBold", inline-font-files("OpenSans-ExtraBold.ttf", truetype));
 

.navigation-cls.x-dataview{
  width: 320px;
  @include background-gradient(darken($base-color,20%), "bevel");
  .navigation-item-cls{
    padding: 0 0.6em;
    line-height: 2.25;
    border-bottom: 1px solid lighten($base-color, 50%);
    color: #d2d2d2;
    &.x-item-pressed{
      @include background-gradient(lighten($base-color, 30%), "recessed");
    }
    &.x-item-selected{
      @include background-gradient(lighten($base-color, 15%), "recessed");
    }
  }
}

.login-cls.x-form{
  background-color: transparent;
  background-image: url("../images/login_background.jpg");
  background-position: center;
  background-size: cover;
  .x-scroll-container{
    background-color: transparent;
    .x-form-inner{
      padding: 1em;
    }
  }
  .logo-cls{
    height: 11em;
    background-color: transparent;
    margin-bottom: 1em;
  }
  .field-cls.x-field{
    min-height:2em;
    margin-bottom: 1em;
    .x-component-outer{
      @include box-shadow(1px 1px 0px 1px #888);
    }
    .x-form-field {
      min-height:2em;
      padding: 0.2em 0.75em;
      -webkit-text-fill-color: black;
    }
  }
  .separator-cls{
    height: 0;
    font-weight: bold;
    margin:1.5em 0;
    border: 0.1em solid rgba(211,37,46,1);
    @include st-box-align(center);
    @include st-box-pack(center);
    .x-innerhtml{
      background-color: rgba(211,37,46,1);
      background-none: none;
      color:  white;
      width: 2em;
      line-height: 2;
      margin-top: -1em;
      @include st-box();
      @include st-box-pack(center);
      @include border-radius(50%);
    }
  }
  .forgot-btn-cls{
    height: 1.5em;
    .x-button-label{
      text-align: left;
      font-weight: normal;
      text-decoration: underline;
      font-size: 0.9em;
    }
  }
  .login-btn-cls{
    padding: 0.5em 2em;
    @include border-radius(2em);
    @include background-gradient(rgba(211,37,46,1), plain);
    border: 0;
    .x-button-label{
      color: white;
    }
    &.x-button-pressing{
      @include background-gradient(rgba(211,37,46,1), recessed);
    }
  }
  .login-info{
      font-family: OpenSansBold;
      font-size: 0.75em;
      font-weight: bold;
      text-align: center;
      margin-bottom: 1em;
  }
/*
  @media screen and (max-width:420px){
    .twitter-facebook-btn-cls{
      .x-horizontal.x-layout-box{
        @include st-box-orient(vertical, important);
        @include st-box-align(center);
        @include st-box-pack(center);
        .twitter-btn-cls, .facebook-btn-cls{
          margin-left: 0;
          margin-right: 0;
          margin-bottom: 1em;
        }
      }
    }
  }
*/
  $share-btn-height: 1.85em;
  $share-btn-width: (3.859375 * $share-btn-height);
  .twitter-btn-cls, .facebook-btn-cls{
    border: 0;
    @include border-radius(0.25em);
    padding: 0;
    min-width: $share-btn-width;
    max-width: $share-btn-width;
    width: $share-btn-width;
    height: $share-btn-height;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    .x-button-label{
      visibility: hidden;
    }
    &.x-button-pressing{
      opacity: 0.90;
    }
  }
  .facebook-btn-cls{
    background-image: url("../images/facebook.png");
    /*background-color: rgba(50, 88, 173, 1);*/
    margin-right: 0.5em;
  }
  .twitter-btn-cls{
    margin-left: 0.5em;
    /*background-color: rgba(0, 172, 236, 1);*/
    background-image: url("../images/twitter.png");
  }
}

.dashboard-cls{
  .dashboard-btn-cls.x-button{
      @include border-radius(0);
      border:0;
      margin: 0.35em;
  }
}
.main-menu-cls{
  background-color: transparent;
  background-image: url("../images/mainmenu_background.jpg");
  background-size: cover;
  background-position: center;  
  > .x-inner{
    background-color: transparent;
    background-image: url("../images/logo_mainmenu.png");
    background-size: 6em;
    background-position: 1em 1em;
    background-repeat: no-repeat;
  }
  .play-btn-cls.x-button {
    background-color: rgba(245,253,9,1);
    background-image: none;
    margin: 0.25em 0;
    border: 0;
    font-size: 2em;
    @include border-radius(1em);
    .x-button-label{
      font-family: "OpenSansBold";
    }
    &.x-button-pressing{
      @include background-gradient(rgba(245,253,9,1), "recessed");
    }
  }
  .action-btn-cls.x-button {
    background-color: rgba(211, 37, 46, 0.65);
    background-image: none;
    border: 0;
    @include border-radius(0);
    margin: 0.75em 0 0.75em 0.75em;
    padding: 0.5em 0.25em;
    .x-button-label{
      font-family: "OpenSansBold";
      color: white;
      font-size: 1em;
    }
    &:last-child{
      margin-right: 0.75em;
    }
    &.x-button-pressing{
      @include background-gradient(rgba(211,37,46,0.65), "recessed");
    }
  }
}

.games-list-cls.x-list-normal{
  background-color: transparent;
  background-image: url("../images/gamesevent_background.jpg");
  background-size: cover;
  background-position: center;  
  .search-field-cls{
      padding: 0.5em;
      background-color: rgba(0, 0, 0,0.2);
      background-image: none;
      .x-form-label{
          background-color: transparent;
          background-image: none;
          color: white;
          padding-left: 0;
          padding-top: 0;
          padding-bottom: 0;
          line-height: 2;
      }
      .x-field-input{
        &:before{
          top: 0.5em;
          right: 0.5em;
          left: auto;
        }
      }
      .x-input-el {
        margin-left: 0;
        padding-top: 0;
        padding-bottom: 0;
        min-height: 2em;
      }
  }
  .game-event-cls.x-list-item{
    padding: 0.25em;
    font-family: "OpenSansBold";
    border: 0;
    .x-innerhtml{
      padding: 0.5em;
      background: rgba(255,255,255,0.4);
    }
    .date{
      position: absolute;
      left: 0.5em;
      top: 0.25em;
      font-size: 0.75em;
    }
    .eventname{
      position: absolute;
      font-size: 0.75em;
      right: 0.5em;
      top: 0.25em;
    }
    .participats{
      @include st-box();
      @include st-box-orient(horizontal);
      @include st-box-align(center);
      padding-top: 0.5em;
      width: 100%;
      > div{
        @include st-box();
        @include st-box-flex(1);
        @include st-box-orient(horizontal);
        @include st-box-align(center);
        width: 0 !important;
        &:last-child{
          @include st-box-direction(reverse);
          .thumb{
            margin-right: 0.5em; 
            margin-left: 0.25em; 
          }
        }
        &:first-child{
          .thumb{
            margin-left: 0.5em; 
            margin-right: 0.25em; 
          }
        }
      }
      .teamname{
        width: 0 !important;
        @include st-box-flex(1);
        font-size: 0.85em;
      }
      .thumb{
        background-color: white;
        width: 2em;
        height: 2em;
        @include border-radius(2em);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    &.x-item-selected{
      background-image: none;
        background-color: transparent;
      .x-innerhtml{
        background-color: rgba(255, 255, 255, 0.75);
        background-image: none;
        color: black;
      }
    }
  }
  .betgame-btn-cls{
    background-color: rgba(245,253,9,1);
    background-image: none;
    margin: 0.25em auto;
    max-width: 12em;
    border: 0;
    font-size: 1.125em;
    padding: 0.5em;
    @include border-radius(1em);
    .x-button-label{
      font-family: "OpenSansBold";
    }
    &.x-button-pressing{
      @include background-gradient(rgba(245,253,9,1), "recessed");
    }
  }
}

.about-game-cls{
  background-color: transparent;
  background-image: url("../images/aboutgame_background.jpg");
  background-size: cover;
  background-position: center;  
  .team-name-cls {
      color: white;
      font-size: 1.75em;
      margin: 0.35em 0;
      font-weight: bold;
  }
  .vs-text-cls {
      font-size: 1.25em;
      color: white;
      font-weight: bold;
  }
  .place-detail-cls{
      font-size: 1.12em;
      color: white;
      text-align: center;
      margin-bottom: 1em;
      line-height: 1.5;
  }
  .bet-btn-cls{
    background-color: rgba(245,253,9,1);
    background-image: none;
    margin: 0.25em 0;
    border: 0;
    font-size: 1.25em;
    padding: 0.35em 1.5em;
    @include border-radius(1em);
    .x-button-label{
      font-family: "OpenSansBold";
    }
    &.x-button-pressing{
      @include background-gradient(rgba(245,253,9,1), "recessed");
    }
  }
}

.bet-page-cls{
  background-color: transparent;
  background-image: url("../images/betdetails_background.jpg");
  background-size: cover;
  background-position: center;  
  .bet-container-cls{
    .x-form-fieldset-title {
        font-size: 1.5em;
        margin: 0.5em 0;
        text-align: center;
        color: white;
    }
    .x-form-fieldset-inner{
      border: 0;
      background-color: transparent;
      background-image: none;
      @incldue border-radius(0);
    }
    .team-detail-cls{
        padding: 0.5em 0.75em;
        background: rgba(white, 0.2);
        margin-bottom: 0.75em;
        .x-label {  
          line-height: 2;
          padding-right: 0.75em;
          font-size: 1.125em;
          font-weight: bold; 
          @include ellipsis();
          color: white;
        }
        .x-button{
            padding: 0 1.5em;
            @include border-radius(1em);
            @include background-gradient(rgba(211,37,46,1), plain);
            border: 0;
            font-size: 0.9em;
            .x-button-label{
              color: white;
              line-height: 1.5;
            }
            &.x-button-pressing{
              @include background-gradient(rgba(211,37,46,1), recessed);
            }
        }
    }
  }
  .about-btn-cls.x-button{
    background-color: rgba(245,253,9,1);
    background-image: none;
    margin: 0.25em auto;
    max-width: 12em;
    border: 0;
    font-size: 1.125em;
    padding: 0.5em;
    @include border-radius(1em);
    .x-button-label{
      font-family: "OpenSansBold";
    }
    &.x-button-pressing{
      @include background-gradient(rgba(245,253,9,1), "recessed");
    }
  }
}

.bet-detail-cls{
  background-color: transparent;
  background-image: url("../images/betdetails_background.jpg");
  background-size: cover;
  background-position: center;  
  .x-scroll-container{
    background-color: transparent;
    background-image: none;
  }
  .canecl-btn-cls{
    margin-left: auto;
    max-width: 10em;
    .x-button-label{
      color: #d4d2d2;
      text-align: left;
    }
  }
  .x-label.field-label-cls{
      color: white;
      font-family: 'OpenSansBold';
      font-size: 1.25em;
      padding-top: 1em;    
      padding-bottom: 0.5em;
      text-transform: uppercase;
      .infotext{
        text-transform: none;
        font-size: 0.65em;
      }
  }
  .x-field-select{
    background-color: transparent;
    background-image: none;
    min-height: 2em;
    max-width: 15em;
    .x-input-el{
      min-height: 2em;
    }
  }
  .bet-btn-cls{
    background-color: rgba(245,253,9,1);
    background-image: none;
    margin: 0.75em auto;
    max-width: 6em;
    border: 0;
    font-size: 1.125em;
    padding: 0.5em;
    @include border-radius(1em);
    .x-button-label{
      font-family: "OpenSansBold";
    }
    &.x-button-pressing{
      @include background-gradient(rgba(245,253,9,1), "recessed");
    }
  }
  .btn-container-cls{
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }
  .bet-action-cls{
    background-color: rgba(211, 37, 46, 1);
    background-image: none;
    border: 0;
    @include border-radius(1em);
    margin-right: 0.5em;
    padding: 0.5em;
    font-size: 0.9em;
    .x-button-label{
      font-family: "OpenSansBold";
      color: white;
      font-size: 0.75em;
    }
    &:last-child{
      margin-right: 0;
    }
    &.x-button-pressing{
      @include background-gradient(rgba(211,37,46,0.65), "recessed");
    }
  }
}
