.my-bet-title .x-form-fieldset-title{
	color : black;
	text-shadow: none;
	margin: 0;
}

.my-bet-cls .x-inner .x-form-fieldset-inner{
	background: transparent ;
	border : 0;
}

.my-bet-cls .x-button-label{
text-align: -webkit-auto;
}

#ext-element-154{
	text-align: -webkit-right;
	
}

#ext-tab-1{
	background:transparent;
	color: yellow;
	font-family: OpenSansBold;
	text-transform: uppercase;
	font-size: 1em;
}

#ext-element-151{
	text-align: -webkit-right;
}

/*****Account Setting******/
.account-setting-cls {
  background-color: transparent;
  background-image: url("../images/won_popup_background.jpg");
  background-size: 100% 100%;
  background-position: center;
}

.account-setting-cls .action-btn-cls.x-button {
  background-color: rgba(211, 37, 46, 0.65);
  background-image: none;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  margin: 0.75em 0 0.75em 0.75em;
  padding: 0.5em 0.25em;
}

.account-setting-cls .action-btn-cls.x-button .x-button-label, .account-setting-cls .action-btn-cls.x-button .x-badge, .account-setting-cls .action-btn-cls.x-button .x-hasbadge .x-badge, .x-hasbadge .account-setting-cls .action-btn-cls.x-button .x-badge {
  font-family: "OpenSansBold";
  color: white;
  font-size: 0.65em;
}
/* line 201, ../sass/app.scss */
.account-setting-cls .action-btn-cls.x-button:last-child {
  margin-right: 0.75em;
}
/* line 204, ../sass/app.scss */
.account-setting-cls .action-btn-cls.x-button.x-button-pressing {
  background-image: none;
  background-color: rgba(211, 37, 46, 0.65);
  background-image: -webkit-linear-gradient(top, rgba(168, 29, 37, 0.65), rgba(189, 33, 41, 0.65) 10%, rgba(211, 37, 46, 0.65) 65%, rgba(213, 37, 46, 0.65));
  background-image: -moz-linear-gradient(top, rgba(168, 29, 37, 0.65), rgba(189, 33, 41, 0.65) 10%, rgba(211, 37, 46, 0.65) 65%, rgba(213, 37, 46, 0.65));
  background-image: -o-linear-gradient(top, rgba(168, 29, 37, 0.65), rgba(189, 33, 41, 0.65) 10%, rgba(211, 37, 46, 0.65) 65%, rgba(213, 37, 46, 0.65));
  background-image: linear-gradient(top, rgba(168, 29, 37, 0.65), rgba(189, 33, 41, 0.65) 10%, rgba(211, 37, 46, 0.65) 65%, rgba(213, 37, 46, 0.65));
}

.account-setting-cls .field-label-cls{
	font-family: "OpenSansBold";
  color: white;
  font-size: 0.60em;
  text-align: -webkit-auto;
  
}

.account-setting-cls .selectfield-cls{
	
	
	
}


